{% extends 'Djangoapp/chats_base.html' %}
{% load static %}
{%block chats-list-title%}Группы{% endblock %}
{% block chat-cards %}
<button class="collapsible">ПИ-032</button>
<div class="collapsible-content">
    <button class="chat-card">
        ПОЭИС
    </button>
    <button class="chat-card">
        ПЭП
    </button>
    <button class="chat-card">
        УИП
    </button>
</div>

<button class="collapsible">ПИ-032</button>
<div class="collapsible-content">
    <button class="chat-card">
        ПОЭИС
    </button>
    <button class="chat-card">
        ПЭП
    </button>
    <button class="chat-card">
        УИП
    </button>
</div>
<button class="collapsible">ПИ-032</button>
<div class="collapsible-content">
    <button class="chat-card">
        ПОЭИС
    </button>
    <button class="chat-card">
        ПЭП
    </button>
    <button class="chat-card">
        УИП
    </button>
</div>

<button class="collapsible">ПИ-032</button>
<div class="collapsible-content">
    <button class="chat-card">
        ПОЭИС
    </button>
    <button class="chat-card">
        ПЭП
    </button>
    <button class="chat-card">
        УИП
    </button>
</div>



{% endblock %}