{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}SmartStudy{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'Djangoapp/css/explorer.css' %}">
{% endblock %}
{% block content %}
    <div class="explorer-content">
        <div class="empty"></div>
        <div class="explorer-container">
            <div class="explorer-title">
                {% block explorer-title %}Предметы{% endblock %}
            </div>
            <div class="explorer">
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>Интернет-технологии</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>УИП</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ПОЭИС</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ТЭТ</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ИЭНИС</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ПЭП</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>Интернет-технологии</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>УИП</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ПОЭИС</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ТЭТ</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ИЭНИС</p>
                </a>
                <a href="#" class="explorer-card">
                    <img src="{% static 'Djangoapp/icons/folder.svg' %}" alt="folder">
                    <p>ПЭП</p>
                </a>
            </div>
        </div>
        <div class="empty"></div>
    </div>
{% endblock %}