{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}Динамическое расписание{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'Djangoapp/css/nachal.css' %}">
{% endblock %}

{% block content %}

    {#<div class="container">#}
    {#    #}
    {#{% if news %}#}
    {#{%  for item in news %}#}
    {#<div class="news1">#}
    {#    <h1>{{item.title}}</h1>#}
    {#    <h4>{{item.date}}</h4>#}
    {#    <h4>{{item.groups}}</h4>#}
    {#    <h4>{{item.short_dest}}</h4>#}
    {#    <a href="https://telemost.yandex.ru/" class="btn btn-warning">Подключиться</a>#}
    {#</div>#}
    {#    {% endfor %}#}
    {#    {% else %}#}
    {#    <p>Ближайших лекций нет</p>#}
    {#    {% endif %}#}
    {#</div>#}

    <div class="lectures-content">
        <div class="empty"></div>
        <div class="lectures-container">
            <div class="lectures-title">
                Ближайшая лекция
            </div>
            <div class="lectures-explorer">
                <div class="lecture-card">
                    <p class="lecture-card-title">Интернет-Технологии</p>
                    <p class="lecture-card-text lecture-card-date">
                        Дата и время проведения:
                        <span>21.03.2002 16:00</span>
                    </p>
                    <p class="lecture-card-text lecture-card-group">
                        Группа:
                        <span>Пи-032</span>
                    </p>
                    <p class="lecture-card-text lecture-card-theme">
                        Тема лекции:
                        <span>Создание сайта Django</span>
                    </p>
                    <a href="https://telemost.yandex.ru/" class="lecture-card-link">
                        Войти
                    </a>
                </div>

                <div class="lecture-card">
                    <p class="lecture-card-title">Интернет-Технологии</p>
                    <p class="lecture-card-text lecture-card-date">
                        Дата и время проведения:
                        <span>21.03.2002 16:00</span>
                    </p>
                    <p class="lecture-card-text lecture-card-group">
                        Группа:
                        <span>Пи-032</span>
                    </p>
                    <p class="lecture-card-text lecture-card-theme">
                        Тема лекции:
                        <span>Создание сайта Django</span>
                    </p>
                    <a href="https://telemost.yandex.ru/" class="lecture-card-link">
                        Войти
                    </a>
                </div>

                <div class="lecture-card">
                    <p class="lecture-card-title">Интернет-Технологии</p>
                    <p class="lecture-card-text lecture-card-date">
                        Дата и время проведения:
                        <span>21.03.2002 16:00</span>
                    </p>
                    <p class="lecture-card-text lecture-card-group">
                        Группа:
                        <span>Пи-032</span>
                    </p>
                    <p class="lecture-card-text lecture-card-theme">
                        Тема лекции:
                        <span>Создание сайта Django</span>
                    </p>
                    <a href="https://telemost.yandex.ru/" class="lecture-card-link">
                        Войти
                    </a>
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>

{% endblock %}
